---
layout: page
title: 404
show_title: false
---
<body style="backgroundcolor: #0086ac;">
  <div class="layout--404">
    <div class="sign">

      <span color: #FFFFFF; style="font-size: 125px; margin-bottom: 20px;">:(</span>
      <span color: #FFFFFF; style="font-size: 28px;"><br>您的网页遇到问题，需要重新访问。<br>我们只通知你这个错误信息，然后你可以重新访问。</span>
      <span color: #FFFFFF; style="display: block;"><br>可能的修复，请访问microharddemo.github.io</span>
      <span color: #FFFFFF; style="display: block;">错误代码: PAGES_NOT_FOUND_404ERROR</span>
    </div>
  </div>
</body>

{{ content }}
